@font-face {
    font-family: 'jsMath-cmti10';
    src: url('/fonts/jsMath-3.6e/cmti10.woff2') format('woff2'),
        url('/fonts/jsMath-3.6e/cmti10.woff') format('woff'),
        url('/fonts/jsMath-3.6e/cmti10.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}



.header {
    background: #fff;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header__logo {
    padding: 10px;
    color: #F5C800;
    text-decoration: none;
    font-weight: 500;
    font-size: 30px;
    font-family: 'jsMath-cmti10', serif;
        font-style: italic;
    text-align: left;
}

main {
    background: #f8f8f8;
    height: 100%;
}

.register-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}