@font-face {
    font-family: 'jsMath-cmti10';
    src: url('../fonts/webfonts_jsMath-cmti10.woff2') format('woff2'),
        url('../fonts/webfonts_jsMath-cmti10.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

* {
    box-sizing: border-box;
}

.header {
    width: 100%;
    max-width: 1512px;
    height: 53px;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 1);
    border-bottom: 1px solid rgba(244, 244, 244, 1)
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1230px;
}

.header__logo {
    width: auto;
    height: 33px;
    font-family: jsMath-cmti10;
    font-size: 30px;
    font-style: italic;
    font-weight: 500;
    line-height: 32.73px;
    text-align: left;
    color: rgba(245, 200, 0, 1);
    text-decoration: none;
}

.products__content{
    align-items: center;
    padding: 70px 20px;
    max-width: 1512px;
    width: 100%;
    height: auto;
    background: rgba(248, 248, 248, 1);
    border-bottom: 1px solid;
}

.products-form__heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1px;
    max-width: 1512px;
    min-height: 50px;
    height: auto;
    padding: 0px 40px;
    gap: 1167px;
    margin-bottom: 20px;
}

.products-form__heading-text h2 {
    width: 128px;
    height: 48px;
    font-family: Hiragino Kaku Gothic Pro;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    text-align: left;
    color: rgba(51, 51, 51, 1);
}

.form__button-add {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 137px;
    height: 50px;
    padding: 13px 20px;
    gap: 10px;
    border-radius: 5px;
    background: rgba(255, 169, 41, 1);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    border: none;
}

.button-add {
    width: auto;
    height: 24px;
    font-family: Hiragino Kaku Gothic Pro;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: rgba(75, 75, 75, 1);
    border: none;
    background: transparent;
    cursor: pointer;
    white-space: nowrap;
}

.form {
    min-width: 1px;
    max-width: 1512px;
    min-height: 790px;
    height: auto;
    padding: 0px 40px 0px 40px;
    gap: 30px;
}

.form__group {
    min-width: 240px;
    width: auto;
    min-height: 267px;
    height: auto;
    gap: 40px;
}

.form__group-content{
    min-width: 240px;
    width: auto;
    min-height: 114px;
    height: auto;
}

.form__input {
    min-width: 240px;
    width: auto;
    min-height: 70px;
    height: auto;
    padding: 0px 0px 20px 0px;
    gap: 10px;
    border: 0px 0px 1px 0px;
}

.form__input--text {
    min-width: 240px;
    width: 100%;
    min-height: 50px;
    height: auto;
    padding: 14.5px 10px 14.5px 10px;
    gap: 10px;
    border-radius: 25px;
    border: 1px 0px 0px 0px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(224, 223, 222, 1)
}

.form__input--text input {
    width: 84px;
    height: 21px;
    gap: 0px;
    opacity: 0px;
    font-family: Hiragino Kaku Gothic Pro;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    text-align: left;
    background: rgba(224, 223, 222, 1);
}

.form__button-2 {
    min-width: 240px;
    width: 100%;
    min-height: 44px;
    height: auto;
    padding: 10px 0px 0px 0px;
    gap: 10px;
    border-radius: 5px 0px 0px 0px;
    opacity: 0px;
    background: rgba(245, 200, 0, 1);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
}

.form__button-search{
    width: 32px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
    font-family: Hiragino Kaku Gothic Pro;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: rgba(75, 75, 75, 1);
}

.form__group-price{
    min-width: 240px;
    width: 100%;
    min-height: 113px;
    height: auto;
    padding: 0px 0px 20px 0px;
    gap: 20px;
    border: 0px 0px 1px 0px;
    border-bottom: 1px solid rgba(224, 223, 222, 1)
}

.group-price--text {
    width: 120px;
    height: 30px;
    font-family: Hiragino Kaku Gothic Pro;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    color: rgba(51, 51, 51, 1);
}

.group-price--select{
    min-width: 240px;
    width: 100%;
    min-height: 43px;
    height: auto;
    padding: 11px 10px 11px 10px;
    border-radius: 5px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    justify-content: space-between;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(224, 223, 222, 1)
}

.group-price--select select{
    width: 98px;
    height: 21px;
    font-family: Hiragino Kaku Gothic Pro;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    text-align: left;
    background: rgba(224, 223, 222, 1);
}

.products-img{
    width: 14px;
    height: 8px;
    transform: rotate(180 deg);
    background: rgba(190, 177, 166, 1);
}

.products-img__container{
    min-width: 1px;
    max-width: 162px;
    min-height: 720px;
    height: auto;
    gap: 20px;
}

.img__container--top, .img__container--bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    min-width: 1px;
    max-width: 162px;
    min-height: 350px;
    height: auto;
    gap: 20px;
    opacity: 0px;
    margin: 0px 20px 20px 20px;
}

.products__card {
    display: flex;
    flex-direction: column;
    min-width: 374px;
    width: auto;
    min-height: 350px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #0000001A;
}

.card__img {
    min-width: 374px;
    width: auto;
    min-height: 281px;
    height: auto;
}

.card__content {
    display: flex;
    justify-content: space-between;
    min-width: 374px;
    width: 100%;
    min-height: 69px;
    height: auto;
    padding: 20px 0px 0px 0px;
    background: #FFFFFF;
}